header {
  text-align: center;
  color:white;
}

main{
  display:flex;
}
.banner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
  border: 1px solid white;
}
nav{
  display:flex;
  flex-direction: row;
  margin:auto;
  padding:auto;
}
button{
  cursor:pointer;
}
.navi button{
  margin:auto;
  margin-right: 25px;
  margin-left:25px;
  font-size:30px;
  padding:20px;
  border-radius: 8px;
  transition-duration: 0,4s;
  background-color: #d4d1d1;
}
.navi button:hover{
  background-color:rgb(46, 44, 44);
  color:white;
}


.homepage{
  margin: auto;
  margin-top:75px;
  margin-right: 225px;
  border: 2px solid white;
  padding: 10px;
  color:white;
}
.auteur{
  margin-left:50px;
}
.liste{
  margin-left: 5%;
  color:white;
}
.ajouter{
  margin:auto;
  margin-top:25px;
  border:1px solid white;
  border-radius: 5px;
  padding:15px;
}

.ajouter_new button {  
  margin:auto;
  margin-left:30px;
  padding:10px;
  font-size:20px;
  border-radius: 8px;
  transition-duration: 0,4s; 
  background-color: #d4d1d1;
}  
.ajouter_new button:hover{
  background-color: black;
  color:white;
}
  
body {  
  color: #b1aeae;  
  font-size: 20px;  
  font-family:Arial, monospace;  
  background-color: #383a3b;  
}  
  
h2 {  
  text-align: center;  
}  

.liste_jou{
  width: 66%;
  margin-left:25%;
  margin-top: 15%;
}

.ajouter button{
  margin:auto;
  margin-top:5%;
  padding: 15px;
  border: 1px solid white;
  border-radius: 5px;
}
.sauvegarder{
  margin:auto;
}
.annuler{
  margin-left:53.5%;
}

label {  
  color:white;
  float: left;  
  padding-right: 55px;  
  display: block;  
  width: 155px;  
}  

.logo{
  width: 150%;
  margin-left:300px;
  margin-top: 100px;
}
.champi{
  width: 100%;
  margin-left:300px;
  margin-top: 100px;
}
.topnav{
  background-color: rgb(255, 253, 253);
  overflow: hidden;
  margin:0px;
}
.topnav a{
  float: left;
  color:#0c0c0c;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover{
  background-color: rgb(41, 40, 40);
  color:rgb(255, 251, 251);
}
.topnav a.active{
  background-color: #b1b8f7;
  color:white;
}
footer{
  padding-bottom:10px;
}