<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>FootDiv</title>
    <meta name="description" content=""/>
    <link href="../css/style.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav class="topnav">
            <a href="/">accueil</a>
            <a href="/joueurs" >joueurs</a>
            <a href="/equipes" >équipes</a>
            <a href="/championnats" class="active">championnats</a>
        </nav>
        <h1>
            FootDiv, la gestion footballistique.
        </h1>
    </header>
    <main>
        <section class="ajouter">
            <form action="/championnatsAdd" method="POST">
                <div class= "form_group">
                    <label for="nom_championnats">Nom du championnat : </label>
                    <input type="text" name="nom_championnats" value="<%=championnats.nom_championnats%>" required></br></br>
                </div>

                <div class= "form_group">
                    <label for="pays_championnats">Pays : </label>
                    <input type="text" name="pays_championnats" value="<%=championnats.pays_championnats%>" required></br></br>
                </div>

                <input type="hidden" name="idchampionnats" value="<%=championnats.idchampionnats%>">
                <input type="submit" class="sauvegarder" value="Sauvegarder">
                <input type="button" class="annulerc" value="Annuler" onclick="history.go(-1)">
            </form>
        </section>

    </main>
    <footer>2020, copyright © FootDiv</footer>
    <div id="overlay"></div>
</body>
</html>