<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>FootDiv</title>
    <meta name="description" content=""/>
    <link href="http://localhost:8000/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav class="topnav">
            <a href="/">accueil</a>
            <a href="/joueurs" >joueurs</a>
            <a href="/equipes"class="active">équipes</a>
            <a href="/championnats">championnats</a>
        </nav>
        <h1>
            FootDiv, la gestion footballistique.
        </h1>
    </header>
    <main>
        <div class="liste">
            <h2>Liste des equipes : </h2>
            <ul><% for(var i = 0; i < equipes.length; i++){ %>
                <li><%= equipes[i].nom_equipes %>  
                    <a href="/equipes_modif/<%= equipes[i].idequipes %>" class="modifier"><button>Modifier</button></a>
                    <a href="/equipes_supp/<%= equipes[i].idequipes %>" class="supprimer"><button>Supprimer</button></a></li></li>
                    <ul>
                        <li> <%= equipes[i].nom_championnats %></li>
                    </ul>
                </br>
              <% } %> </ul>
            <p><a href="ajouter_equipes" class="ajouter_new"><button>Ajouter une équipe</button></a> </p>
        </div>
        <div>
            <img src="../img/equipes_logo.jpg" alt="logo équipes football" class="logo">
        </div>
    </main>
    <footer>2020, copyright © FootDiv</footer>
    <div id="overlay"></div>
</body>
</html>