<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>FootDiv</title>
    <meta name="description" content="t"/>
    <link href="http://localhost:8000/css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <header>
        <h1>
            FootDiv, la gestion footballistique.
        </h1>
    </header>
    <div>
        <img src="../img/banner.jpg" alt="terrain de football" class="banner">
    </div>
    <main>
        <nav id="Menu">
            <a href="/" class="navi"><button>Accueil</button></a>
            <a href="/joueurs" class="navi"><button>Joueurs</button></a>
            <a href="/equipes" class="navi"><button>Équipes</button></a>
            <a href="/championnats" class="navi"><button>Championnats</button></a>
        </nav>
        <section class="homepage">
            <p>Projet d'architecture WEB de M1 Business Analyst</p>
            <div class="auteur">
                <p>MASTER Business Analyst</p>
                <p>Romain Musch</p>
                <p>191016 </p>
            </div>
        </section>
    </main>
    <footer>2020, © FootDiv</footer>
</body>
</html>
